@import '~@react-md/theme/dist/color-palette';
@import '~@react-md/button/dist/variables';
@import '~@react-md/states/dist/variables';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500:700&display=swap';

$rmd-theme-light: true;
$rmd-theme-primary: #0091ff;
$rmd-theme-secondary: #0d17ff;
$rmd-theme-warning: #ffd219;
$rmd-theme-error: #ff6219;
$rmd-theme-success: #0dffe7;
